.product-search{
    border-radius: 10px;
    border: 1px solid black;
}

.product-search:hover{
    background-color: rgb(235, 235, 235);
}

.product-search:focus{
    outline: none;
    background-color: rgb(235, 235, 235);
}

.product-card{
    width: 400px;
    margin-top: 20px;
    border: 0.5px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}