.nav-item{
    color: white;
    text-decoration: none;
    text-align: center;
    justify-self: center;
    margin-left: 50px;
    font-size: 20px;
}


@media screen and (min-width: 990px) {
    .side-navbar{
        max-width: 20vw;
    }
    .navbar-desktop-hidden{
        display: none;
    }

    .main-navbar{
        justify-content: center;
    }
}

@media screen and (max-width:990px){
    .navbar-mobile-hidden{
        display: none;
    }
    .navbar-collapse > ul{
        height: calc(50vh - 55px);
    }
    .navbar{
        position: absolute;
        z-index: 100;
        width: 100vw;
    }

    main{
        margin-top: 109px;
    }

    .main-navbar{
        justify-content: space-evenly !important;
    }
}