:root{
  --large_screen:990px;
  --font_medium:20px;
  font-size: var(--font_medium);
}

.text-style-one{
  text-decoration: none;
  color: black;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.05); 
}

#app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}