.product-list-elemnt{
    all: unset;
    overflow: hidden;
    vertical-align: bottom;
    padding: 10px 0 0;
}



.product-list-elemnt:hover:enabled{
    background-color: lightgray;

}



@media screen and (max-width:990px){
    .product-list-table{
        width: 90%;
        justify-self: center;
    }

    .product-list-row{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;
    }
}


@media screen and (min-width:990px){
    .product-list-table{
        width: 80%;
    }
    
    .product-list-row{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;

    }
}